OPENAI_API_KEY=sk-your-openai-api-key

TAVILY_API_KEY=tvly-dev-your-tavily-api-key

LANGCHAIN_API_KEY=lsv2_your-langchain-api-key # https://smith.langchain.com/ => tracing => setting => generate API key
LANGCHAIN_PROJECT="Learn LangSmith"

WEATHERSTACK_API_KEY=your-weatherstack-api-key # https://weatherstack.com/ => sign up => get free API key