python-dotenv==1.0.1

langchain==0.2.10
langchain-openai==0.1.17
langchain-community==0.2.10
wikipedia==1.4.0
langchain-chroma==0.1.2
faiss-cpu

langserve==0.2.2
httpx<0.28
sse_starlette

langgraph==0.1.19

streamlit

# Tavily Search Tool
tavily-python>=0.3.0

# Web scraping
beautifulsoup4>=4.12.0
readability-lxml 
trafilatura
requests>=2.31.0

# Logging / debugging (better print format than the default print of python)
rich>=13.7.0